{% extends "base.html" %}

{% block content %}
  <div class="d-flex" style="min-height: calc(100vh - 3.5rem);">
    <div class="container d-flex align-items-center">
      <div class="row w-100">
        <div class="col-md-6 d-flex align-items-center">
          <div>
            <h1>CTF PuTI Telkom University</h1>
            <p class="lead">
              Selamat datang di platform CTF Pusat Teknologi Informasi Telkom University.
              Uji kemampuan keamanan siber Anda melalui berbagai tantangan menarik.
            </p>
            <hr>
            <p>
              <strong>Informasi Event:</strong><br>
              Buka untuk seluruh civitas akademika Telkom University.
            </p>
            {% include "components/errors.html" %}
          </div>
        </div>

        <div class="col-md-6 d-flex align-items-center">
          <div class="w-100">
            {% if integrations.mlc() %}
              <a class="btn btn-secondary btn-lg btn-block w-100" href="{{ url_for('auth.oauth_login') }}">
                Login with Major League Cyber
              </a>
              <hr>
            {% endif %}

            {% with form = Forms.auth.LoginForm() %}
              <form method="post" accept-charset="utf-8">
                <div class="mb-3">
                  <b>
                    {{ form.name.label(class="form-label") }}
                    <span class="text-danger">*</span>
                  </b>
                  {{ form.name(class="form-control", value=name, autocomplete="username email") }}
                </div>

                <div class="mb-3">
                  <b>
                    {{ form.password.label(class="form-label") }}
                    <span class="text-danger">*</span>
                  </b>
                  {{ form.password(class="form-control", value=password, autocomplete="current-password") }}
                </div>

                <div class="row pt-3">
                  <div class="col-6 col-md-8">
                    <a class="align-middle" href="{{ url_for('auth.reset_password') }}">
                      {% trans %}Forgot your password?{% endtrans %}
                    </a>
                  </div>

                  <div class="col-6 col-md-4">
                    {{ form.submit(class="btn btn-block btn-primary w-100") }}
                  </div>
                </div>

                {{ form.nonce() }}
              </form>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
