@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 357 85% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 40% 94%;
    --secondary-foreground: 358 66% 43%;
    --muted: 0 0% 96%;
    --muted-foreground: 230 3% 35%;
    --accent: 357 85% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 357 85% 52%;
    --radius: 0.5rem;
    --success: 142 76% 30%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 32%;
    --warning-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 358 100% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 40% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 69%;
    --accent: 358 100% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 358 100% 65%;
    --success: 142 70% 45%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 55%;
    --warning-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
